body{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}

/* ESTILOS DEL NEV */
nav {
    display: flex; /* Asegura que todos los elementos directos de nav estén en línea */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    background-color: blue;
    padding: 0 10px; /* Añade un poco de espacio alrededor de todo el contenido de nav */
  }
  
  nav a {
    color: white;
  }
  
 
  nav ul {
    list-style-type: none; /* Elimina los marcadores de lista */
    display: flex; /* Dispone los elementos de la lista en línea */
    margin: 0;
    padding: 10;
  }
  
  nav ul li {
    padding: 10px; 
  }
  
  nav ul li a:hover {
    color: rgb(29, 212, 57);
  }
  
  /* Estilos para el formulario de búsqueda */
  nav form {
    display: flex; /* Alinea el formulario con los enlaces */
    margin-right: 30px;
    padding: 30px;
  }
  
  nav input{
    margin-right: 5px; /* Añade un poco de espacio entre el campo de texto y el botón */
  }
  
  button {
    background-color: rgb(47, 117, 192);
    color: white;
    border: none; /* Elimina el borde predeterminado */
    padding: 10px; /* Añade un poco de espaciado interno */
    cursor: pointer; /* Cambia el cursor para indicar que es un botón */
  }
  button:hover {
    background-color: chartreuse;
  }
  
  label {
    display: none; /* Oculta el label ya que tiene un placeholder en el input */
  }


/* ESTILOS DE LOS TÍTULOS */
  header{
    margin-top: 10px;
    margin-left: 15px ;
    margin-right: 15px;
    background-color: white;
    color: blue;
    text-align: center;
    padding: 30px;
  }
  h2{
    font-size: 24px; /* Tamaño en píxeles */
  }
/* ESTILOS CUERPO PRINCIPAL */
   main {
    margin-top: 15px;
    width: 90%;
    max-width: auto; 
    margin: auto; 
  } 
  /* ESTILOS SECCION 1 */
  #seccion1 {
  
    display: flex; /* Establece un contenedor flexible */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    justify-content: space-between; /* Separa los elementos justo a los extremos */
  }
  #seccion2 {
  
    display: flex; /* Establece un contenedor flexible */
    flex-direction: row-reverse; /* Invierte el orden de los elementos */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    justify-content: space-between; /* Separa los elementos justo a los extremos */
  
  }
  #titulosecion1{
    text-align: left;
  }
  #titulosecion2{
    text-align: left;
  }

  #titulosecion1, #articulo1 {
  
    flex-basis: 50%; /* Asigna un ancho base para el título y el artículo */
  }
  #titulosecion2, #articulo2 {
    flex-basis: 50%; /* Asigna un ancho base para el título y el artículo */
  }
  
  #articulo1 {
  
    display: flex; /* Establece un contenedor flexible para el texto y la figura */
    flex-direction: column; /* Alinea el texto y la figura verticalmente */
  }
  #articulo2 {
 
    display: flex; /* Establece un contenedor flexible para el texto y la figura */
    flex-direction: column; /* Alinea el texto y la figura verticalmente */
  }
  figure img {
    margin-top: 25px;
    padding: 30px;
    width: 500px; /* Establece el ancho de la imagen a 200 píxeles */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
  }
  #img1 {
    align-self: flex-end; /* Alinea la imagen al final del contenedor */
    margin-left: auto; /* Empuja la imagen hacia la derecha */
  }
  #img2 {

    align-self: flex-start; /* Alinea la imagen al final del contenedor */
    margin-left: auto; /* Empuja la imagen hacia la derecha */
  }
  
  figure {
    margin: 0; /* Remueve el margen predeterminado */
  }
  
  figcaption {
    text-align: center; /* Centra el texto de la leyenda */
    margin-bottom: 25px;
  }

  /* RESPONSIVIDAD  */
    @media (max-width: 600px) {
        /* *********NAV */
        nav ul {
        flex-direction: column; /* Apila los elementos de la lista */
        }
        nav form {
        margin-left: 10; /* Centra el formulario */
        }
        #seccion1, #seccion2 {
          flex-direction: column; /* Cambia la dirección de los flex items a columna */
        }


    }